* {
  padding: 20px 0;
  margin: 0 auto;
  background-color: black;
}
#game {
  width: 800px;
  height: 320px;
  border: 1px solid rgb(133, 130, 130);
  background-image: url('img/ny-skyline.webp'), url('img/background.png');
  background-size: cover;
  background-position-y: 20px, bottom;
  background-repeat: no-repeat, no-repeat;
}
#character {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: none;
  background-image: url('img/pigeon.png');
  background-size: contain;
  position: relative;
  top: 300px;
  left: 80px
}
.animatePigeon {
  animation: jump 900ms;
}
@keyframes jump {
  0%{top: 300px;}
  30%{top: 180px}
  70%{top: 240px}
  100%{top: 300px}
}
#taxi1 {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 30px;
  background-color: none;
  background-image: url('img/taxi.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  top: 275px;
  left: 720px;
}
.animateTaxi1 {
  animation: taxi1 2.5s infinite linear;
}
@keyframes taxi1 {
  0%{ left: 730px; }
  100%{ left: -10px; }
}

#taxi2 {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 30px;
  background-color: none;
  background-image: url('img/taxi.png');
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
  position: relative;
  top: 250px;
  left: 720px;
}
.animateTaxi2 {
    animation: taxi2 4s infinite linear;
}
@keyframes taxi2 {
  0%{ left: 730px; }
  100%{ left: -10px; }
}
